{{>navbar}}

<link rel="stylesheet" href="signin.css">
<div class="body">

    <!-- log in part -->
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="/login" method="post">

                    <div class="input-field">
                        <input type="text" placeholder="Enter your username" name="username" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>


                    <div class="input-field">
                        <input type="password" class="password" name="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login Now">
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

</body>

</html>