<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
            $(".toggle").on("click",function(){
                if($(".item").hasClass("active")){
                    $(".item").removeClass("active");
                }
                else{
                    $(".item").addClass("active");
                }
            })
        })
    </script>
    <link rel="stylesheet" href="Navbar.css">
</head>
<body>
<nav>
    <ul class="menu">
        <li class="logo"><a href="#">On Bouffe Ou ?</a></li>
        <li class="item"><a href="./index.html">Home</a></li>
        <li class="item"><a href="./Research.html">Research</a></li>
        <li class="item"><a href="./Map.html">Map</a></li>
        <li class="item button"><a href="#">Login</a></li>
        <li class="item button signUp"><a href="#">Sign Up</a></li>
        <li class="toggle"><span class="bars"></span></li>
    </ul>
</nav>
</body>
</html>