 {{>navbar}}

<div>
    <h1>{{name}}</h1>
    <h2>{{adress}}</h2>
    <h2>{{type}}</h2>
    <h2>{{budget}}</h2>
    <h2>{{duration}}</h2>
    <h2>{{distance}}</h2>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <form action="/Comment" method="post">
                    <input type="text" name="comment" id="comment">
                    <input type="checkbox" name="like" id="like">
                    <input type="submit" value="commenter">
                </form>
            </div>
        </div>
    </div>

</div>

</body>

</html>