<%-include('navbar')-%>

    <link rel="stylesheet" href="signin.css">
    <div class="body">

        <!-- sign in part -->

        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title">Sign In</span>

                    <form action="/signin" method="post">

                        <div>
                            <h2> {{data}}</h2>
                        </div>
                        <div class="input-field">
                            <input type="text" name="username" placeholder="Enter your name" required>
                            <i class="uil uil-user"></i>
                        </div>

                        <div class="input-field">
                            <input type="email" name="mail" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>


                        <div class="input-field">
                            <input type="password" name="password" class="password" placeholder="Enter your password" required>
                            <i class="uil uil-lock icon"></i>
                        </div>

                        <div class="input-field button">
                            <input type="submit" value="Sign In Now">
                        </div>


                    </form>
                </div>

            </div>
        </div>

    </div>

    </body>

    </html>